/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

.container {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-size: 18px;
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    display:grid;
    grid-template-columns: 1fr ;
   /*grid-gap: 1px;*/
   

    grid-template-areas: "header header"
                         "overviewhero overviewhero"
                         "card card card"
                         
                         "stories stories"
                         "footer footer"
                            
}

header , .overview-hero, .card , .stories, footer {
   
    /*border : 1px solid #000;*/
    padding : 5px;
    margin:0px;
    /*background-color: rgba(255 , 0 , 0, 30%);*/
}

header .container{
    padding: 0px;
    grid-area : header;
    display: flex;
    background-color: white;
    font-size: 18px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
   
}

header h1{
   text-align: left;
   
}

header ul {
    text-align: right;
    list-style-type: none;
    float: right; 
    /*display: inline;*/
    padding-right: 1rem;
    padding-top: 0em;
    margin:0;   
}

header li{
    padding:5px 5px 5px 5px;
    display: inline-block;
    margin:0;
    padding-top: 0em;
    /*margin-top: 0em; */
    text-align: right;   
}

header nav a{
    color: #6b7280;
    float: right;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    text-decoration: none;
}

header nav a:hover{
    color: #5A67D8; 
}

.learn-about h2{
    grid-area: "learnheader";
    font-size: 24px;
    color: #48BB78;
}



.overview-hero{
    background-color: #E2E8F0;
    padding: 60px;
}

.overview-hero .container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.overview-hero p{
    text-align: left;
    margin-top: 5px;
    /*top: 50% ;*/
    padding: 0px;
   
}

.overview-hero{
    text-align: left;
    grid-area: overviewhero;
    
}

.overview-hero img {
    height: 200px; 
    width:200px ;
    /*float: left;
    /*padding: 50;
    object-fit: cover;*/
    margin-right: 40px;
   
}

.card{
    width: 50%;
    grid-area: card;
    border-color: #E2E8F0;
    border-radius: 5px;
    box-shadow: 5px 10px #888888; 
    margin: 10px;
}

.card h3{
    color:#48BB78;
    font-size: 21px;
}

.cards{
    display: flex;
    flex-direction: row;
    /*margin: 5%;*/
    
}
    


.cards img{
    height: 300px; 
    width:250px ;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.testing{
    background-color: #4A5568;
    color:white;
    padding: 10%;
    text-align: left;
    margin: 10px;
}

.testing .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.testing a{
    background-color: #48BB78;
    padding: 2.5%;
    border-radius: 5px;
    float: right;
    width: 100px;
    text-decoration: none;
    text-align: center;
    margin-left: 10px;
}

.testing-description{
    text-align: left;
}

.stories {
    grid-area: stories;
    display: flex;
    flex-direction: column;
    
}

.stories h2 , .stories a{
    color: #5A67D8;
}



.stories img{
    height:210px;
    width:210px;
    border-radius: 50%;
    float: left;
    margin: 40px;
    margin-left: 10px;
  
}

.stories h3 , .stories p{
    text-align: left;
    
}

.stories a{
    text-decoration: none;
    
}


.newsletter{
    background-color: #48BB78;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

.newsletter button{
    background-color: #5A67D8;
    height:50%;
    /*background-size: 50%;*/
    padding: 20px 20px;
    /*margin: 8px 0;*/
    color:white;
    border-radius: 5px;
    border:none;
    /*display: inline-block;*/
    width:20%
   
    
}

.newsletter input{
    width: 80%;
    height: 50%;
    padding: 20px 20px;
    /*margin: 8px 0;*/
    /*box-sizing: border-box;*/
    /*display: inline-block;*/
    border-radius: 5px;
    border: none;
    margin-right: 100px;
    
    
}

/*.form{
    justify-content: center;
    display:flex;
    flex-direction: row;
   
}*/



.newsletter form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    
}



footer{
    grid-area: footer;
    background-color: #4A5568;
    color: white;
   
}
